* {
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    &--search {
        background-color: #7F977B;
        color: white;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 2rem;
        .search-icon {
            margin-right: 16px;
        }
    }
}